<html>
	<head>
		<style>
			

		body {
		width: 80%;
		margin: 0 auto !important;
		}
					span {
						font-size: 50px;
					}		
		div.container {
		    width: 100%;
		    border: 1px solid gray;
		}

		header, footer {
		    padding: 1em;
		    color: white;
		    background-color: #4a4a4a;
		    clear: left;
		    text-align: center;
		}

		nav {    
		    max-width: 160px;
		    margin: 0;
		    padding: 1em;
		}

		nav ul {
		    list-style-type: none;
		    padding: 0;
		}
		   
		nav ul a {
		    text-decoration: none;
		}

		.glyphicon {
		font-size: 50px;
		padding: 15px;
		}
		article {
		    
		    overflow: hidden;
		}

		
		</style>
	</head>
	<body>
		<header>
   <h1>Currently Streaming</h1>
</header>

		<div class="container-fluid"> 

			<div class="row" style="border: 2px solid #000000">
				<div class="col-sm-3 col-xs-3 text-center">
         <h3> Options </h3>
         
         <br>
					<div class="container-fluid text-center">
						<!-- Thumbnails -->
						<nav>
						<ul>
						<div class="row text-center">
<div class="thumbnail">
              <span onclick="runVideo('webcam');" class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            </div>
							
							
						</div>
						<br/>
						<div class="row text-center">
<div class="thumbnail">
							<span onclick="runVideo('Carousselle.mp4');" class="glyphicon glyphicon-search" aria-hidden="true"></span> </div>
						</div>
						</ul>
						</nav>
					</div>
				</div>	
				
				<div class="col-sm-9 col-xs-9" style="border-left: 2px solid #000000">

					<div class="row">
						<div id="vidDiv" class="container-fluid text-center">
							<div id="videoCanvas" width="640" height="480"></div>
						</div>
					</div>

					<hr style="border:1px solid #000000;">
        <div class="text-center"> All videos </div>
       <hr style="border:1px solid #000000;">
        <div class="container-fluid">
          
          <div class="col-sm-3 text-center">
            <div class="thumbnail">
              <span onclick="runVideo('webcam');" class="glyphicon glyphicon-camera" aria-hidden="true"></span>
            </div>
          </div>
          
           <div class="col-sm-3 text-center">
            <div class="thumbnail">
              <span onclick="runVideo('out.mp4');" class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </div>
          </div>
</div>
				</div>					
			</div>
				
			

		</div>
	</body>

</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script type="text/javascript" src="http://localhost:4321/getjs?name=jsmpg.js"></script>

<script>

	var wsCons = {};
	var player;

	var div = document.getElementById('videoCanvas');
	div.innerHTML = "";
	//var divi = document.getElementById('vidDiv');
	var canvas = document.createElement("canvas");
	canvas.width = 640;
	canvas.height = 480;
	div.appendChild(canvas);

	function runVideo(name) {
		if(wsCons[name] == null) {
			wsCons[name] = new WebSocket( 'ws://localhost:8001/?arg1='+name);
		}

		if(player) {

			for(var key in wsCons) {
				wsCons[key].onmessage = function(){};
			}

			player.client = wsCons[name];
			player.client.onmessage = player.receiveSocketMessage.bind(player);
			player.client.binaryType = 'arraybuffer';
			//player.client.onopen = player.initSocketClient.bind(player);
			console.log("Here");
			//return;
		}
		else {
			player = new jsmpeg(wsCons[name], {canvas:canvas});
		}

		
		
		



		$.ajax({
		  url: "streamfile",
		  data: {
		  			'name': name //'Carousselle.mp4', //'webcam',
		  		}
		}).done(function(data) {});
	}

</script>
























